@import 'tailwindcss';
@import './particles.css';
@import './scrollbar.css';
@import './loader.css';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@font-face {
  font-family: 'PolySans';
  src: url('/fonts/PolySans-Bulky.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'PolySans';
  src: url('/fonts/PolySans-Neutral.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'PolySans';
  src: url('/fonts/PolySans-Slim.woff2') format('woff2');
  font-weight: 300;
}

@theme {
	/** bg */
  --color-primary: #1e1b2e;
  --color-container: #2a263d;
  --color-navbar: #ffffff;
	--color-accent-yellow: #ffdd45;
	--color-accent-violet: #8132e3;
	--color-gray-ancient: #e7e9eb;

	/** text */
  --color-primary-font: #f5f5f5;
  --color-secondary-font: #c2bde3;
	--color-text-primary: #222222;
  --color-text-secondary: #555555;

	/** button */
  --color-button-primary: #7c3aed;
  --color-button-primary-hover: #6d28d9;

  --color-button-secondary: #3b3b4f;
  --color-button-secondary-hover: #505068;

	/** border */
  --color-border: #3a3652;

	/** extras */
  --color-accent: #8b5cf6;
  --color-success: #10b981;
  --color-danger: #ef4444;
}

@layer base {
	.title {
		font-family: "PolySans", "Outfit", sans-serif 
	}
	
	body {
		font-family: "Outfit", sans-serif;
	}
	.tiptap {
		padding: 2.5rem;
		overflow: auto;
    z-index: 0;
		font-size: .9rem;

		&:focus {
			border-radius: 0px;
			outline: none;
		}

		pre {
			background: #00292d;
			color: whitesmoke;
			padding: 0.5rem;
			font-size: 0.9rem;
			border-radius: 0 0 .5rem .5rem;
		}

		h1 {
			font-size: 2.25rem;
		}
		h2 {
			font-size: 1.75rem;
		}
		h3 {
			font-size: 1.5rem;
		}

		ul,
		ol {
			margin-left: 30px;
		}

		ul {
			list-style-type: circle;
		}

		ol {
			list-style-type: decimal;
		}

		img {
			max-width: 50%;
			border-radius: 5px;
		}

		a {
			color: rgb(223, 119, 0);
			text-decoration: underline;
			cursor: pointer;
		}
	}

	.toolbar {
		.left,
		.right {
			display: flex;
			align-items: center;
			gap: 4px;

			button {
				background: none;
				color: black;
				border: none;
				cursor: pointer;
				padding: 10px;
				border-radius: 5px;
				display: flex;
				align-items: center;
				transition: background-color .2s linear;

				svg {
					width: 16px;
				}

				&:hover {
					background: #c4e3ff;
				}

				&.active {
					background: #0e8eff;
					color: #fff;
				}
			}
		}
	}
}

